
.ranking-item, .meu-ranking-conquista {
    display: flex;
    width: 100%;
    border: 1px solid rgba(0, 74, 171, 0.7);
    padding: 6px;
    margin-bottom: 6px;
}

.item-avatar, .meu-conquistas-img {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.item-avatar img,
.meu-conquistas-img img {
    height: 40px;
    width: 40px;
}

.item-content {
    flex: 1;
    height: 40px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-score {
    color: rgb(247,189,35);
    flex:1;
    font-size: 18px;
}

.item-ranking {
    color: rgb(247,189,35);
    flex:1;
    font-size: 25px;
}

.item-conquistas {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: space-around;
}

.item-conquistas img {
    height: 20px;
    width: 20px;
    
}
